h1 {
    color: navy;
    margin: 20px 20px 20px 20px;
    padding: 5px;
    text-align: center;
    border-style: solid;
    border-color: black;
    height: auto;
    width: auto;
  }

  h2{
    color: black;
    margin: 20px 20px 20px 20px;
    padding: 5px;
    text-align: center;
    
    height: auto;
    width: auto;
  }
  .wrapper{
    text-align: center;
  }
  .dynamic_class {
    border: 7px solid purple;
    height: 400px;
    width: 790px;
    margin: 10px 20px 20px 20px;
    display: inline-block;
  
  }
  .box1{
    height: 70%;
    width: 40%;
    border-bottom: 3px solid purple;
    font-size: 30px;
    color: black;
    line-height: 1.2;
    font-weight: bold;
    margin: 6px 6px 2px 6px;
    text-align: center;
    float: left;
    padding-left: 3px;

  }
  
  .box2{
    height: 100%;
    width: 58%;
    margin: 0px 0px 0px 0px;
    float: right;
  }
  
  img{
    max-width:100%;
    max-height:100%;
    object-fit: fill;
    float: right; 
  }
  
  
  
  
  .button {
    width: 25%;
    position: relative;
    top: 10%;
    background-color: purple;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
    font-weight: bold;
  }
  
  .button:hover{
    background-color: white;
    color: purple;
    font-weight: italic;
    border: 1px solid purple;
  }


  .question_box{
    height: 70%;
    width: 40%;
    
    font-size: 30px;
    color: black;
    line-height: 1.0;
    font-weight: italic;
    margin: 6px 6px 2px 6px;
    text-align: center;
    float: left;
    padding-left: 3px;

  }

  .question_button{
    width: 50%;
    height: 10%;

    position: relative;
    background-color: purple;
    border: none;
    color: white;
    padding : 2px 2px 2px 2px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
    font-weight: bold;
  }
  
  .question_button:hover{
    background-color: white;
    color: purple;
    font-weight: italic;
    border: 1px solid purple;
  }
 .next_button{
  width: 25%;
  height: 10%;
  position: relative;
  top: 10%;
  background-color:purple;
  border: none;
  color: white;
  padding: 10px 10px 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  
  font-weight: bold;

} 

.next_button:hover{
  background-color: white;
  color: purple;
  font-weight: italic;
  border: 1px solid purple;
}

.lastPage{
    height: 100%;
    width: 100%;
    
    font-size: 18px;
    color: black;
    line-height: 1.2;
    font-weight: bold;
    margin: 0px 6px 2px 6px;
    text-align: left;
    float: left;
    padding-left: 3px;
    overflow: scroll;
}

.right{
  color: green;
  text-align: center;
  align: center;
}

.wrong{
  color: red;
  text-align: center;
  align: center;
}


.submit_button{
  width: 25%;
  height: 10%;
  position: relative;
  top: 20%;
  background-color:white;
  border: 1px solid black;
  color: black;
  padding: 10px 10px 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  font-weight: bold;
}


.submit_button:hover{
  background-color: black;
  color: white;
  font-weight: italic;
  border: 1px solid purple;
}